.idea*
__py*
db*
venv/
.run/Celery.run.xml
.run/SoVisu.run.xml
/staticfiles/
doc/stackELK/data/
doc/OpenSearch/dataOS/
doc/OpenSearch/data/
doc/stackELK/backup/
doc/VisuStack/volume/
doc/stackELK/volume/
doc/VisuStack/nginx/certs/77.153.196.68.crt
doc/VisuStack/nginx/certs/77.153.196.68.csr
doc/VisuStack/nginx/certs/77.153.196.68.key
doc/VisuStack/nginx/certs/77.153.196.68.pem
*.log
utils/stackELK/data/
utils/OpenSearch/dataOS/
utils/OpenSearch/data/
utils/stackELK/backup/
utils/VisuStack/volume/
utils/stackELK/volume/
utils/VisuStack/nginx/certs/77.153.196.68.crt
utils/VisuStack/nginx/certs/77.153.196.68.csr
utils/VisuStack/nginx/certs/77.153.196.68.key
utils/VisuStack/nginx/certs/77.153.196.68.pem
