.idea*
__py*
db*
venv/
.run/Celery.run.xml
.run/SoVisu.run.xml
/staticfiles/
*.log
utils/stackELK/data/
utils/OpenSearch/dataOS/
utils/OpenSearch/data/
utils/stackELK/backup/
utils/VisuStack/volume/
utils/stackELK/volume/
utils/VisuStack/nginx/certs/77.153.196.68.crt
utils/VisuStack/nginx/certs/77.153.196.68.csr
utils/VisuStack/nginx/certs/77.153.196.68.key
utils/VisuStack/nginx/certs/77.153.196.68.pem