.idea*
__py*
db*
.env
venv/
.run/Celery.run.xml
.run/SoVisu.run.xml
/staticfiles/
utils/VisuStack/volume/
utils/VisuStack/nginx/certs/*
!utils/VisuStack/nginx/certs/Readme.txt
.coverage
utils/*
/sphinx_docs/build/
