spacy==3.3.1
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.0.0/fr_core_news_md-3.0.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.3.0/en_core_web_md-3.3.0.tar.gz
Django==3.1.5
django-uniauth==1.3.0
django-widget-tweaks==1.4.12
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
elasticsearch==7.16.2 # version = version de docker elasticsearch/kibana. Elements dépréciés dans le code à partir de la 7.17.X , seront enlevé à la 9.0.X
geopy
pycountry_convert
pandas==1.2.2
requests==2.27.1
certifi==2021.10.8 #sécurité dans le cas ou requests n'installe pas ou mal la librairie
networkx==2.5
beautifulsoup4~=4.11.1
bs4==0.0.1
SPARQLWrapper==2.0.0
ldap3~=2.9.1
lxml==4.8.0
nested-lookup==0.2.23
six==1.16.0
install==1.3.5 # https://pypi.org/project/install/
idna==3.3
asgiref==3.5.1
sqlparse==0.4.2
django-tinymce
chardet==4.0.0 # détecteur d'encodage
python-cas==1.6.0
python-decouple==3.6
python-dateutil==2.8.2
pytz==2022.1
urllib3==1.26.9
matplotlib==3.5.2
openpyxl
numpy==1.20.1
#oauthlib==3.1.0
#PyJWT==1.7.1
#pybso==1.1.0
unidecode==1.3.4
sphinx
sphinx-autobuild
karma-sphinx-theme == 0.0.8