# Code formatter
black

# dependancies
asgiref==3.5.1
beautifulsoup4==4.11.1
bs4==0.0.1
celery~=5.2.7
celery_progress==0.1.2
certifi==2021.10.8 #sécurité dans le cas ou requests n'installe pas ou mal la librairie
chardet==4.0.0 # détecteur d'encodage
Django==4.0.6
djangorestframework==3.13.1
djangorestframework-simplejwt==5.1.0
django-tinymce
django-cors-headers==3.13.0
django_uniauth==1.3.1
django-widget-tweaks==1.4.12
elasticsearch~=8.4
geopy
gevent
idna==3.3
# install==1.3.5 # https://pypi.org/project/install/
ldap3==2.9.1
lxml==4.8.0
matplotlib==3.5.2
nested_lookup==0.2.23
networkx~=2.5
numpy==1.22.3
openpyxl
#oauthlib==3.1.0
opensearch_py==1.1.0
pycountry_convert
#PyJWT==1.7.1
#pybso==1.1.0
python-cas==1.6.0
pytz==2022.1
pandas==1.4.2
python-decouple==3.6
python_dateutil==2.8.2
redis==3.5.3
requests==2.27.1
six==1.16.0
sqlparse==0.4.2
spacy==3.3.1
https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.3.0/fr_core_news_md-3.3.0.tar.gz
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.3.0/en_core_web_md-3.3.0.tar.gz
SPARQLWrapper==2.0.0
sphinx
furo
sphinx-autobuild  # à supprimer lorsque la doc sera faite
unidecode==1.3.4
urllib3==1.26.9
gunicorn==20.1.0 
PyPDF2~=2.4.1
grobid-tei-xml