{% load widget_tweaks %}
<div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
    <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
         viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>

    <ul>
        <li>Dans cet onglet, vous devez vérifier, renseigner ou corriger vos identifiants chercheur.
        </li>
        <li>L'<strong>IdHal</strong> est <a href="https://doc.archives-ouvertes.fr/identifiant-auteur-idhal-cv/" class="underline"
                target="_blank">votre identifiant sur l'archive nationale Hal</a>. Il permet de regrouper vos publications et de gérer
            les différentes formes auteur. Cette fonction est à réaliser via HAL.
        <li><strong>L'idRef</strong> s'obtient dès la publication de votre thèse. Vous pouvez le vérifier
            : <a href="https://www.idref.fr/" class="underline" target="_blank">sur le site prévu à cet
                effet</a></li>
        <li><strong>L'OrcId</strong> est un identifiant chercheur international. <a
                href="https://orcid.org/" class="underline" target="_blank">Nous vous recommandons d'en
            créer un</a>. Vous avez une petite procédure réalisée par l'UMR 5206 <a
                href="http://triangle.ens-lyon.fr/spip.php?article8796" class="underline"
                target="_blank"> sur ce lien.</a></li>

        </li>
        <li> Si vous avez <strong>d'autres identifiants</strong> (Arxiv, Mendeley, Research Gate...) leurs
            moissonneurs se chargeront de publier automatiquement vos notices sur ou depuis HAL.
        </li>
{#                        <li> Le champ autre (s'il apparait) est libre, mais la fonctionnalité n'est pas activée.</li>#}
        <li><strong>Merci de vérifier ces identifiants avant de les renseigner ici, puis validez. Vous accèderez alors aux autres fonctionnalités de SoVisu !</strong></li>
    </ul>

</div>

<form action="/validate_credentials/?struct={{ struct }}&type={{ type }}&id={{ id }}&from={{ from }}&to={{ to }}&data={{ data }}"
      method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
        <div>
            {% if field.auto_id == "id_f_more" %}
                {% render_field field class="hidden" %}
            {% else %}
                <label class="text-sm text-gray-700" for="{{ field.auto_id }}">{{ field.label }}</label>

                {% render_field field class="flex text-sm py-1 px-2 border rounded border-gray-200 focus-none outline-none" %}

            {% endif %}
        </div>
    {% endfor %}
    <input class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate outline-none"
           type="submit" value="Valider les identifiants">
</form>

{% if entity.aurehalId == -1 %}

    <hr class="mb-4 mt-4"/>

    <form action="/refresh-aurehal-id/?struct={{ struct }}&type={{ type }}&id={{ id }}&from={{ from }}&to={{ to }}&data={{ data }}"
          method="post">
        {% csrf_token %}
        <p class="text-sm">
            En cas de soucis avec la récupération de l'identifiant AuréHal, déclenchez manuellement un
            nouvel essai en cliquant sur le bouton ci-dessous. Si l'IDhal vient d'être créé, l'AuréHalId peut être indisponible.
            Si c'est le cas veuillez réessayer plus tard.
        </p>
        <input class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate outline-none w-64"
               type="submit" value="Mettre à jour l'ID AuréHAL (automatique)">
    </form>
{% endif %}
