{% load widget_tweaks %}
<div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
    <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
         viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
    </svg>

    <ul>
       TEMP
    </ul>
</div>

  <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
{% for structure in structurelist %}
    <div class="relative overflow-hidden shadow-lg rounded-lg h-90 w-60 md:w-80 m-auto flex flex-col">
        <div class="p-8 flex-grow">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{ structure.acronym_s }}</div>
            <p class="mt-1 text-lg leading-tight font-medium text-black hover:underline">{{ structure.name_s }}</p>
            <p class="mt-1 text-lg leading-tight font-medium text-black hover:underline">{{ structure.type_s }}</p>
        </div>
        <button class="removeAffiliation self-end bg-transparent hover:bg-red-500 text-red-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded mb-4 mr-4"
                id="removeAffiliationButton-{{ structure.docid }}" data-struct="{{ structure.docid }}">supprimer l'affiliation</button>
    </div>
{% empty %}
    <p>Pas de structures connues</p>
{% endfor %}
</div>

<script type="text/javascript">
    $(function() {
        $(".removeAffiliation").click(function() {
            var buttonId = $(this).attr('id');
            var docid = $('#'+buttonId).data('struct');

            $.ajax({
                type: "POST",
                url: "{% url 'check' %}",
                data: {
                    'remove_affiliation': 'True',
                    'entity_id': '{{id}}',
                    'docid': docid,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(data) {
                    if (data.status === 'success') {
                        location.reload();
                    } else {
                        // Handle error
                    }
                }
            });
        });
    });
</script>