{% extends 'uniauth/base-site.html' %}
<!-- Page-specific headers -->
{% block head %}

    <title>SoVisu | Connexion</title>

    <style>
        .simple-subtitle {
            color: #4c5667;
            font-size: 18px;
            font-weight: 400;
        }

        img {
            display: block;
            max-width: 100%;
            height: auto;
        }

        .hr-line-dashed_title {
            margin-bottom: 15px;
            margin-top: 1px;
            border-top: 1px dashed #e7eaec;
            color: #ffffff;
            background-color: #ffffff;
            height: 1px;
        }
        div.uniauth-wrapper.wrapper.wrapper-content {
            box-shadow: none !important;
            border-color: #e7eaec;
            border-style: solid solid solid solid;
            border-width: 1px;
        }
        .skin-3 .ibox-content:last-child {
            border: none;
        }
    </style>

{% endblock %}

<!-- Page Content -->
{% block content %}

    <script>
    function toggleAdminForm() {
  var x = document.getElementById("adminForm");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
};
</script>

    <div id="login-form-spacer" class="spacer {% if not display_standard %}only-cas-login{% endif %}"></div>

    <div id="login-form-wrapper"
         class="uniauth-wrapper wrapper wrapper-content {% if not display_standard %}only-cas-login{% endif %}">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins shadow-lg">
                    <div class="ibox-content">

                        {% if form and form.non_field_errors %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group has-error">
                                    <span id="error-text" class="form-error help-block">
                                        {{ form.non_field_errors.as_text|slice:"2:" }}
                                    </span>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <span id="login-title" class="simple-title">Se connecter à <span
                                            id="header-uniauth-text">SoVisu</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed_title"></div>
                        {% if display_cas %}
                            <div class="row text-center">
                                <div class="col-lg-12">
                                    <div id="cas-select-container" class="simple-subtitle">
                                        <!--{% if display_standard %}Agents de l'université, via CAS (cliquez ci-dessous sur le logo) {% else %}Choose CAS Server:{% endif %}-->
                                        {% if num_institutions == 1 %}
                                            <div style="">
                                                <a class="d-flex align-items-center flex-column" href="{{ institutions.0.2 }}{{ query_params }}">
                                                    <div><img class="" src="../../static/logo-UTLN.png"></div>
                                                    <div style="font-size: 14px; color: #ffffff; background: #60A5FA; border-radius: 4px; padding: 8px 12px; margin-top: 12px;">
                                                        Connexion via le portail de l'université de Toulon <svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: -2px; width: 16px; height: 16px;" fill="none" viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
</svg>
                                                    </div>
                                                </a>
                                            </div>
                                        {% else %}
                                            <select id="cas-select"
                                                    class="form-control input-block {% if not display_standard %}only-cas-login{% endif %}"
                                                    onchange="tmp=this.value;this.value='';location=tmp;">
                                                <option value="" selected="selected" disabled="disabled"
                                                        hidden="hidden">(Select Institution)
                                                </option>
                                                {% for institution in institutions %}
                                                    <option value="


                                                            {{ institution.2 }}{{ query_params }}">{{ institution.0 }}</option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="hr-line-dashed"></div>

                        {% if display_standard %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="text-center"><a id="showAdminForm" href="#" onclick="toggleAdminForm()">Accès administrateur</a></div>
                                    <form method="POST" id="adminForm" class="post-form" style="display: none; margin-top: 8px;">
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <input id="id_username" name="username" type="text"
                                                       placeholder="identifiant" class="form-control input-block"
                                                       value="{{ form.username.value|default_if_none:"" }}"
                                                       autocapitalize="off" autocorrect="off" autofocus required/>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12">
                                                <input id="id_password" name="password" type="password"
                                                       placeholder="mot de passe" class="form-control input-block"
                                                       value="{{ form.password.value|default_if_none:"" }}" required/>
                                            </div>
                                        </div>

                                        <button id="submit-btn" type="submit" class="save btn btn-action">Connexion
                                        </button>
                                    </form>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- Page specific JS -->

{% block script %}
{% endblock %}
