{% include "includes/header.html" with title="Aucune ressource sélectionnée" %}

<div class="h-full w-full flex">

    {% include "includes/menu.html" with title="Aucune ressource sélectionnée" %}

    <div class="w-full h-full relative p-3" style="background: #fafbfd;">

        <div class="bg-white rounded w-full h-full" style="border: 1px solid rgb(211, 218, 230); padding: 6px 8px">

            <div class="absolute inset-center text-sm flex items-center">
                <div class="text-center">
                    <h1 class="font-semibold text-gray-800">Aucune ressource sélectionnée</h1>
                    <p>Se référer à l'<a href="/index/?type=lab" class="underline text-blue-600">index des
                        laboratoires</a> ou l'<a href="/index/?type=rsr" class="underline text-blue-600">index des
                        chercheurs</a>.</p>
                    <p>ou <a href="/accounts/login/" class="underline text-blue-800"> authentifiez vous. </a></p>
                </div>
            </div>

        </div>

    </div>

{% include "includes/footer.html" %}