{% include "includes/header.html" with title="Vérification des données" %}
{% load widget_tweaks %}
{% load static %}
<div class="h-full w-full flex">

    {% include "includes/menu.html" with title="Vérification des données" %}
    {% comment %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
{% endcomment %}

    <div class="w-full h-full relative p-3" style="background: #fafbfd;">

        <div class="loading-div z-10 absolute left-0 top-0 bottom-0 right-0" style="background: #fafbfd;">
            <div class="absolute inset-center text-sm flex">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Chargement des données
            </div>
        </div>

        <div class="flex flex-col bg-white rounded h-full relative"
             style="border: 1px solid rgb(211, 218, 230); padding: 6px 8px">

            <div class="flex justify-between items-start">



                <h1 class="font-semibold text-xs mb-2 border-b border-gray-300 w-full pb-1">
                    {% if entity.halStructId %}
                        <a class="px-2 pb-1
                        {% if data == "state" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                           href="/check/?struct={{ struct }}{% if type %}&type={{ type }}{% endif %}{% if id %}&id={{ id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=state"
                        >Membres du laboratoire</a>
                    {% endif %}
                    <a class="px-2 pb-1
                        {% if data == -1 or data == "credentials" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                       href="/check/?struct={{ struct }}{% if type %}&type={{ type }}{% endif %}{% if id %}&id={{ id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=credentials"
                    >Identifiants</a>
                    {% if type == "rsr" %}
                        <a class="px-2 pb-1
                        {% if data == "references" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                           href="/check/?struct={{ struct }}{% if type %}&type={{ type }}{% endif %}{% if id %}&id={{ id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=references&validation=1"
                        >Notices HAL</a>

                        <a class="px-2 pb-1
                        {% if data == "expertise" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                           href="/check/?struct={{ struct }}{% if type %}&type={{ type }}{% endif %}{% if id %}&id={{ id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=expertise&validation=1"
                        >Expertises identifiées</a>

                        <a class="px-2 pb-1
                        {% if data == "guiding-domains" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                        href="/check/?struct={{ struct }}{% if type %}&type={{ type }}{% endif %}{% if id %}&id={{ id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=guiding-domains"
                        >Domaines d'expertise</a>
                    {% endif %}
                    {% if type == "lab" %}
                        <a class="px-2 pb-1
                        {% if data == "references" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                           href="/check/?struct={{ struct }}{% if type %}&type={{ type }}{% endif %}{% if id %}&id={{ id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=references&validation=1"
                        >Notices HAL du labo</a>
                    {% endif %}


                    <a class="px-2 pb-1
                        {% if data == "affiliations" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                       href="/check/?struct={{ struct }}{% if type %}&type={{ type }}{% endif %}{% if id %}&id={{ id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=affiliations"
                    >Structures affiliées</a>
                </h1>
            </div>


            {% if data == "state" %}
                {% include "check_subtemplates/check_laboratory_state.html" %}
            {% endif %}

            {% if data == -1 or data == "credentials" %}
                {% include "check_subtemplates/check_credentials.html" %}
            {% endif %}


            {% if data == "expertise" %}
                {% include "check_subtemplates/check_expertise.html" %}
            {% endif %}

            {% if data == "references" %}

                {% include "check_subtemplates/check_references.html" %}

            {% endif %}

            {% if data == "guiding-domains" %}
                {% include "check_subtemplates/check_guiding_domains.html" %}
            {% endif %}

            {% if data == "affiliations" %}
                {% include "check_subtemplates/check_affiliations.html" %}
            {% endif %}

        </div>

    </div>

</div>

{% include "includes/footer.html" %}
