{% include "includes/header.html" with title="Vérification des données" %}
{% load widget_tweaks %}
{% load static %}
<div class="h-full w-full flex">

    {% include "includes/menu.html" with title="Vérification des données" %}
    {% comment %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
{% endcomment %}

    <div class="w-full h-full relative p-3" style="background: #fafbfd;">

        <div class="loading-div z-10 absolute left-0 top-0 bottom-0 right-0" style="background: #fafbfd;">
            <div class="absolute inset-center text-sm flex">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Chargement des données
            </div>
        </div>

        <div class="flex flex-col bg-white rounded h-full relative" style="border: 1px solid rgb(211, 218, 230); padding: 6px 8px">

            <div class="flex justify-between items-start">

                <h1 class="font-semibold text-xs mb-2 border-b border-gray-300 w-full pb-1">
                    {% if entity.halStructId %}
                        <a class="px-2 pb-1
                        {% if data == "state" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                           href="/check/?{% if type %}type={{ type }}{% endif %}{% if id %}&id={{  id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=state"
                        >État du laboratoire</a>
                    {% endif %}
                    <a class="px-2 pb-1
                        {% if data == -1 or data == "credentials" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                       href="/check/?{% if type %}type={{ type }}{% endif %}{% if id %}&id={{  id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=credentials"
                    >Identifiants</a>
                    <a class="px-2 pb-1
                        {% if data == "references" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                       href="/check/?{% if type %}type={{ type }}{% endif %}{% if id %}&id={{  id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=references"
                    >Notices HAL</a>
                    <a class="px-2 pb-1
                        {% if data == "expertise" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                       href="/check/?{% if type %}type={{ type }}{% endif %}{% if id %}&id={{  id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=expertise"
                    >Expertise</a>
                    <a class="px-2 pb-1
                        {% if data == "guiding-keywords" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                       href="/check/?{% if type %}type={{ type }}{% endif %}{% if id %}&id={{  id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=guiding-keywords"
                    >Mots-clés orienteurs</a>
                    <a class="px-2 pb-1
                        {% if data == "guiding-domains" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                       href="/check/?{% if type %}type={{ type }}{% endif %}{% if id %}&id={{  id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=guiding-domains"
                    >Domaines orienteurs</a>
                </h1>



            </div>


            {% if data == "state" %}

                <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                    <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <p>Cet onglet vous permet de supprimer des domaines qui se situeraient en marge seulement de votre portefeuille d'expertise. Les raccourcis de sélection Shift et CTRL fonctionnent.</p>

                </div>

                <div class="justify-end flex w-full">
                    <div class="dt-buttons-rplc flex items-center text-xs">
                    </div>
                </div>

                <div class="flex-1">

                    <table id="state">

                        <thead>
                        <tr class="bg-gray-100 text-gray-700 text-xs" >
                            <th>Nom</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for rsr in researchers %}
                            <tr class="text-gray-500">
                                <td>{{ rsr.firstName }} {{ rsr.lastName }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                </div>

            {% endif %}

            {% if data == "create" %}

                <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                    <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <ul>
                        <li>Dans cet onglet, vous devez renseigner vos identifiants externes. Ces id seront utilisés pour la collecte de données. </li>
                        <li><strong>L'idRef</strong> s'obtient dès la publication de votre thèse. Vous devez récupérer : <a href="https://www.idref.fr/" class="underline" target="_blank">sur le site IdRef - Identifiants et Référentiels pour l'ESR</a></li>
                        <li><strong>L'OrcId</strong> est l'identifiant chercheur international. <a href="https://orcid.org/" class="underline" target="_blank">Nous vous recommandons d'en créer un</a>.</li>
                        <li>Enfin <strong>l'IdHal</strong> est <a href="https://doc.archives-ouvertes.fr/identifiant-auteur-idhal-cv/" class="underline" target="_blank">l'identifiant sur l'archive nationale Hal</a>. Ce dernier identifiant permet de regrouper vos publications, produire votre cv automatiquement mais aussi de gérer les différentes formes auteur. Les trois sont à relier.</li>
                        <li> Si vous avez <strong>d'autres identifiants</strong> (Arxiv, Mendeley, Research Gate... les moissoneurs se chargeront de publier vos notices sur ces réseaux si nécessaire (<i> ; </i>). </li>

                    </ul>

                </div>

                <form action="/CreateCredentials/?&ldapid={{ ldapid }}&data={{ data }}" method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                            {% if field.auto_id == "id_f_role" %}
                            <div>
                                <label class="text-sm text-gray-700" for="{{ field.auto_id }}">{{ field.label }}</label>
                                {% render_field field class="flex text-sm py-1 px-2 border rounded border-gray-200 focus-none;" %}
                            </div>
                            {% elif field.auto_id == "id_f_labo" %}<div class="role-trigerred">
                                <label class="text-sm text-gray-700" for="{{ field.auto_id }}">{{ field.label }}</label>
                                {% render_field field class="flex text-sm py-1 px-2 border rounded border-gray-200 focus-none;" %}
                                </div>
                            {% else %}<div class="role-trigerred">
                                <label class="text-sm text-gray-700" for="{{ field.auto_id }}">{{ field.label }}</label>
                                {% render_field field class="flex text-sm py-1 px-2 border rounded border-gray-200 focus-none outline-none" %}
                            </div>{% endif %}
                    {% endfor %}
                    <input class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate outline-none" type="submit" value="J'ai fini !">
                </form>
                {% comment %}               {% block progress %}
                {% load static %}
                        <div class='progress-wrapper' style="padding-top: 10px;">

                            <div id='progress-bar' class='progress-bar progress-bar-striped' role='progressbar' style="height:30px; width: 0%; border-radius: 5px">&nbsp;</div>
                            </div>
                            <div id="celery-result"> </div>
                            <div id="progress-bar-message">En attente des données saisies...</div>

                {% endblock progress %}

                {% block progress_bar_js %}
                   {% if task_id %}

                        <script type="text/javascript">
                            function processProgress(progressBarElement, progressBarMessageElement, progress) {
                                    progressBarElement.style.width = progress.percent + "%";
                                    var description = progress.description || "Starting download";
                                        progressBarMessageElement.innerHTML = description;
                            }

                        function processResult(resultElement, result) {
                            if (result.includes("successful")) {
                                    $( resultElement ).append($('<br>'));
                                    $( resultElement ).append(
                                        $('<p class="text-center">').text(result)
                                            );
                                        }
                                }

                        // Progress Bar (JQuery)
                        $(function () {
                            var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
                            CeleryProgressBar.initProgressBar(progressUrl, {
                            onProgress: processProgress,
                            onResult: processResult,
                            })
                            });
                        </script>

                   {% endif %}
                {% endblock progress_bar_js %}
{% endcomment %}

            {% endif %}


            {% if data == -1 or data == "credentials" %}

                <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                    <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <ul>
                        <li>Dans cet onglet, vous devez vérifier renseigner ou corriger vos identifiants externes. Ces id seront utilisés pour la collecte de données. </li>
                        <li><strong>L'idRef</strong> s'obtient dès la publication de votre thèse. Vous devez le vérifier : <a href="https://www.idref.fr/" class="underline" target="_blank">sur le site prévu à cet effet</a></li>
                        <li><strong>L'OrcId</strong> est un identifiant chercheur international. <a href="https://orcid.org/" class="underline" target="_blank">Nous vous recommandons d'en créer un</a>.</li>
                        <li>Enfin <strong>l'IdHal</strong> est <a href="https://doc.archives-ouvertes.fr/identifiant-auteur-idhal-cv/" class="underline" target="_blank">l'identifiant sur l'archive nationnale Hal</a>. Ce dernier identifiant permet de regrouper vos publications, produire votre cv automatiquement mais aussi de gérer les différentes formes auteur. Les trois sont à relier.</li>
                        <li> Si vous avez <strong>d'autres identifiants</strong> (Arxiv, Mendeley, Research Gate... vous pouvez les saisir dans le champ prévu à cet effet séparés par des point-virgules (<i> ; </i>). </li>

                    </ul>

                </div>

                <form action="/validate_credentials/?type={{ type }}&id={{ id }}&from={{ from }}&to={{ to }}&data={{ data }}" method="post">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div>
                            {% if field.auto_id == "id_f_more" %}
                                {% render_field field class="hidden" %}
                            {% else %}
                                <label class="text-sm text-gray-700" for="{{ field.auto_id }}">{{ field.label }}</label>

                                {% render_field field class="flex text-sm py-1 px-2 border rounded border-gray-200 focus-none outline-none" %}

                            {% endif %}
                        </div>
                    {% endfor %}
                    <input class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate outline-none" type="submit" value="Modifier">
                </form>

            {% endif %}


            {% if data == "expertise" %}

                <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                    <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                    <p>Cet onglet vous permet de supprimer des domaines à la marge de votre expertise. Les raccourcis de sélection Shift et CTRL fonctionnent.</p>

                </div>

                <div class="justify-end flex w-full">
                    <div class="dt-buttons-rplc flex items-center text-xs">
                    </div>
                </div>

                <div class="flex-1">

                    <table id="concepts">

                        <thead>
                        <tr class="bg-gray-100 text-gray-700 text-xs" >
                            <th>ID</th>
                            <th>Domaine</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for concept in concepts %}
                            <tr class="text-gray-500">
                                <td>{{ concept.id }}</td>
                                <td>{{ concept.label_fr }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                </div>

                <div class="dt-bottom-infos-rplc flex justify-between items-center">
                    <button class="text-xs font-semibold py-1 px-2 rounded bg-red-600 my-2 text-white cursor-pointer delete outline-none">Supprimer</button>
                </div>

            {% endif %}

            {% if data == -1 or data == "guiding-keywords" %}

                <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                    <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <p>Dans cet onglet, vous pouvez renseigner plusieurs mots-clés qui complètent votre expertise. Les mots-clés sont à séparer par un point-virgule (<i> ; </i>). Cette terminologie servira à diriger et contrôler les expansions sémantiques de vos données récoltées pour indexation.</p>
                </div>

                <form action="/validate_guiding-keywords/?type={{ type }}&id={{ id }}&from={{ from }}&to={{ to }}&data={{ data }}" method="post">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div>
                            <label class="text-sm text-gray-700" for="{{ field.auto_id }}">{{ field.label }}</label>
                            {% render_field field class="flex text-sm py-1 px-2 border rounded border-gray-200 focus-none outline-none" %}
                        </div>
                    {% endfor %}
                    <input class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate outline-none" type="submit" value="Valider">
                </form>

            {% endif %}


            {% if data == "references" %}

                <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                    <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <p>Dans cet onglet, vous pouvez intégrer les références bibliographiques collectées à l'aide de vos identifiants à la base de connaissance. Par votre validation ces notices seront incluses dans le processus de traitement qui les associera à votre profil (tableau de bord) et à votre laboratoire. Les raccourcis de sélection <i>Shift</i> et <i>CTRL</i> fonctionnent.</p>
                </div>

                <div class="justify-end flex w-full">
                    <div class="dt-buttons-rplc flex items-center text-xs">
                    </div>
                </div>

                <div class="flex-1">

                    <table id="references">

                        <thead>
                        <tr class="bg-gray-100 text-gray-700 text-xs" >
                            <th>URL</th>
                            <th>Année</th>
                            <th>Titre</th>
                            <th>label_bibtex</th>
                            <th>docid</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for ref in references %}
                            <tr class="text-gray-500">
                                <td class="whitespace-nowrap">{{ ref.halId_s }}</td>
                                <td>{{ ref.publicationDate_tdate|slice:":4" }}</td>
                                <td>{{ ref.title_s.0 | safe }}</td>
                                <td>{{ ref.label_bibtex }}</td>
                                <td>{{ ref.docid }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>

                    </table>

                </div>


                <div class="dt-bottom-infos-rplc flex justify-between items-center">
                    <button class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate outline-none">Valider</button>
                </div>

            {% endif %}

            {% if data == "guiding-domains" %}

                <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                    <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    <p>Dans cet onglet, vous pouvez sélectionner un ou plusieurs domaine(s) qui décrivent ou complètent votre expertise. Cette terminologie servira à diriger et contrôler les expansions sémantiques de vos données récoltées pour indexation.</p>
                </div>

                <div class="w-full" id="tree" style="overflow-y: scroll;"></div>

                <div class="selected-doms flex justify-between absolute bottom-0 right-0 pl-2 pr-2">
                    <div class="dt-bottom-infos-rplc flex justify-between items-center">
                        <button class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate-doms outline-none">Valider</button>
                    </div>
                </div>

            {% endif %}

        </div>

    </div>

</div>



<script>

{% if data == "create" %}

$(document).ready(function() {

    var slides = document.getElementsByClassName("role-trigerred");

    sel_role = document.querySelector('#id_f_role')
    sel_role.addEventListener("change", function() {
        if (sel_role.value == 'chercheur') {
            console.log('a')
            console.log(slides.length)
            for (var i = 0; i < slides.length; i++) {
                console.log(slides.item(i));
                slides.item(i).style.display = "block";
            }
        } else {
            console.log('b')
            console.log(slides.length)
            for (var i = 0; i < slides.length; i++) {
                console.log(slides.item(i));
                slides.item(i).style.display = "none";
            }
        }
    });

});


{% endif %}



    {% if data == "guiding-domains" %}

        var selectedDoms = {% autoescape off %}{{ guidingDomains }}{% endautoescape %};
        var entityDomains = {% autoescape off %}{{ guidingDomains }}{% endautoescape %};
        entityDomains = entityDomains.filter(item => item);

        var entityDomainsFull = [];


        for( var i = 0; i < entityDomains.length; i++){
            entityDomainsTmp = entityDomains[i].split('.')

            entityDomainsFull.push('to-' + entityDomainsTmp[0])
            entityDomainsFull.push('to-' + entityDomains[i].replaceAll('.', '_'))
        }

        function onlyUnique(value, index, self) {
            return self.indexOf(value) === index;
        }

        var entityDomainsFull = entityDomainsFull.filter(onlyUnique);

        function refreshHlPath() {
            for( var i = 0; i < entityDomainsFull.length; i++){
                $('path.' + entityDomainsFull[i]).attr("stroke", "green");
            }
        }




        function graph(rootData = root) {

            // using the cell value for data, instead of passing as a variable
            // to try out the "include with" style of templating
            const root = rootData;

            root.x0 = dy / 2;
            root.y0 = 0;
            root.descendants().forEach((d, i) => {
                d.id = i;
                d._children = d.children;
                if (d.depth >= initDepth) d.children = null;
                //if (d.depth && d.data.name.length !== 3) d.children = null;
            });

            const svg = d3
                .select("#tree")
                .append("svg")
                .attr("viewbox", [-margin.left, -margin.top, width, dx])
                .style("font", "11px sans-serif")
                .style("user-select", "none");

            const gLink = svg
                .append("g")
                .attr("fill", "none")
                .attr("stroke", "#BFDBFE")
                .attr("stroke-opacity", 0.4)
                .attr("stroke-width", 1.5);

            const gNode = svg
                .append("g")
                .attr("cursor", "pointer")
                .attr("pointer-events", "all");

            function update(source) {
                const duration = d3.event && d3.event.altKey ? 2500 : 250; // eh what?
                const nodes = root.descendants().reverse();
                const links = root.links();

                // calc the new tree layout
                tree(root);

                let left = root;
                let right = root;
                root.eachBefore(node => {
                    if (node.x < left.x) left = node;
                    if (node.x > right.x) right = node;
                });

                const height = right.x - left.x + margin.top + margin.bottom;
                // const height = $('#tree').height();

                // transition the size of the viewbox, i think
                const transition = svg
                    .transition()
                    .duration(duration)
                    .attr("viewBox", [-margin.left, left.x - margin.top, width, height])
                    .tween(
                        "resize",
                        window.ResizeObserver ? null : () => () => svg.dispatch("toggle")
                    );

                // Update the nodes…
                const node = gNode.selectAll("g").data(nodes, d => d.id);

                // Enter any new nodes at the parent's previous position.
                const nodeEnter = node
                    .enter()
                    .append("g")
                    .attr("transform", d => `translate(${source.y0},${source.x0})`)
                    .attr("fill-opacity", 0)
                    .attr("stroke-opacity", 0)
                    .on("click", d => {

                        if (d.data.children.length == 0) {
                            if ($('text.'+ d.data.id.replaceAll('.','-')).hasClass('dom-selected')) {
                                for( var i = 0; i < selectedDoms.length; i++){
                                    if ( selectedDoms[i] === d.data.id) {
                                        selectedDoms.splice(i, 1);
                                    }
                                }
                                $('text.'+ d.data.id.replaceAll('.','-')).removeClass('dom-selected')
                            } else {
                                selectedDoms.push(d.data.id);
                                $('text.'+ d.data.id.replaceAll('.','-')).addClass('dom-selected')
                            }

                        }

                        d.children = d.children ? null : d._children;
                        update(d);
                    });

                nodeEnter
                    .append("circle")
                    .attr("r", 2.5)
                    .attr("fill", d => (d._children ? "#555" : "#bbb"))
                    .attr("stroke-width", 10);

                nodeEnter
                    .append("text")
                    .attr('class', d => {
                        if (entityDomains.includes(d.data.id)) {
                            return 'dom-selected ' + d.data.id.replaceAll('.','-');
                        }
                        return d.data.id.replaceAll('.','-');
                    })
                    .attr("dy", "0.31em")
                    .attr("x", d => (d._children ? -6 : 6))
                    .attr("text-anchor", d => (d._children ? "end" : "start"))
                    .text(d => d.data.label_fr)
                    .attr("fill", "#374151")
                    .clone(true)
                    .lower()
                    .attr("stroke-linejoin", "round")
                    .attr("stroke-width", 3)
                    .attr("stroke", "white");

                // Transition nodes to their new position.
                const nodeUpdate = node
                    .merge(nodeEnter)
                    .transition(transition)
                    .attr("transform", d => `translate(${d.y},${d.x})`)
                    .attr("fill-opacity", 1)
                    .attr("font-style", d => (d._children ? "normal" : "italic"))
                    .attr("stroke-opacity", 1);

                // Transition exiting nodes to the parent's new position.
                const nodeExit = node
                    .exit()
                    .transition(transition)
                    .remove()
                    .attr("transform", d => `translate(${source.y},${source.x})`)
                    .attr("fill-opacity", 0)
                    .attr("stroke-opacity", 0);

                // Update the links…
                const link = gLink.selectAll("path").data(links, d => d.target.id);

                // Enter any new links at the parent's previous position.
                const linkEnter = link
                    .enter()
                    .append("path")
                    .attr("class", d => {
                        return('to-' + d.target.data.id.split('.').join('_'))
                    })
                    .attr("d", d => {
                        const o = { x: source.x0, y: source.y0 };
                        return diagonal({ source: o, target: o });
                    });

                // Transition links to their new position.
                link
                    .merge(linkEnter)
                    .transition(transition)
                    .attr("d", diagonal);

                // Transition exiting nodes to the parent's new position.
                link
                    .exit()
                    .transition(transition)
                    .remove()
                    .attr("d", d => {
                        const o = { x: source.x, y: source.y };
                        return diagonal({ source: o, target: o });
                    });

                // Stash the old positions for transition.
                root.eachBefore(d => {
                    d.x0 = d.x;
                    d.y0 = d.y;
                });
            }

            update(root);
            $('#tree').height($('#tree-up-details').height() + 12)
            return svg.node();
        }

        width = $('#tree').width();

        data = {% autoescape off %}{{ domains }}{% endautoescape %};
        data["label"] = "Concepts"

        if(data.length == 1) {
            data = data[0]
            data["label"] = "Concepts"
        }

        root = d3.hierarchy(data);
        dx = 20
        dy = width / 4
        tree = d3.tree().nodeSize([dx, dy])
        diagonal = d3
            .linkHorizontal()
            .x(d => d.y)
            .y(d => d.x)
        margin = ({ top: 12, right: 12, bottom: 12, left: 3 })
        initDepth = 1
        graph()

        $('.validate-doms').click( function () {

            var form = $('<form action="/validate_guiding-domains/' + window.location.href.substring(window.location.href.lastIndexOf("/") + 1, window.location.href.length) + '" method="post">' +
                '{% csrf_token %}' +
                '<input type="text" name="toValidate" value="' + selectedDoms + '" />' +
                '</form>');

            form.appendTo('body').hide()
            form.submit();
        } );

    {% endif %}

    {% if data == "references" or data == "expertise" or data == "state"%}

        /* https://datatables.net/extensions/buttons/examples/initialisation/select.html#:~:text=Button's%20data%20export%20can%20interface,selected%20option%20of%20the%20exportOptions. */

        $(document).ready(function() {
            var table = $('#references').DataTable(
                {
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/French.json'
                    },
                    dom: 'Bfrtip',
                    select: true,
                    buttons: [
                        {
                            text: 'Tout sélectionner',
                            action: function () {
                                table.rows().select();
                            }
                        },
                        {
                            text: 'Rien sélectionner',
                            action: function () {
                                table.rows().deselect();
                            }
                        }
                    ],
                    "columnDefs": [
                        {
                            "targets": [ 1 ],
                            "className": "text-center",
                        },
                        {
                            "targets": [ 2 ],
                            "orderable": false
                        },
                        {
                            "targets": [ 0 ],
                            "render": function(data, type, row, meta){
                                if(type === 'display'){
                                    data = '<a class="underline text-blue-700" target="_blank" href="https://hal.archives-ouvertes.fr/' + data + '">' + data + '</a>';
                                }
                                return data;
                            },
                            "className": "text-center",
                            "orderable": false
                        },
                        {
                            "targets": [ 3 ],
                            "visible": false
                        },
                        {
                            "targets": [ 4 ],
                            "visible": false
                        }
                    ],
                    scrollResize: true,
                    scrollY: 100,
                    scrollCollapse: true,
                    paging: false,
                }
            );

            table.on( 'draw', function () {
                $('.dataTables_scrollHeadInner').css('padding-right', 0);
                $('.dataTables_scrollBody').css('width', 'calc(100% - 4px)');


                $('.dataTables_filter').addClass('flex items-center');
                $('.dt-buttons').addClass('mr-2');
                $('.dataTables_filter').prepend($('.dt-buttons'));
                $('.dt-bottom-infos-rplc').prepend($('.dataTables_info'));

                $('.dataTables_info').addClass('flex justify-between w-full pr-2');
            } );

            var table2 = $('#concepts').DataTable(
                {
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/French.json'
                    },
                    dom: 'Bfrtip',
                    select: true,
                    buttons: [
                        {
                            text: 'Tout sélectionner',
                            action: function () {
                                table.rows().select();
                            }
                        },
                        {
                            text: 'Rien sélectionner',
                            action: function () {
                                table.rows().deselect();
                            }
                        }
                    ],
                    "columnDefs": [
                        {
                            "targets": [ 0 ],
                            "visible": false
                        }
                    ],
                    scrollResize: true,
                    scrollY: 100,
                    scrollCollapse: true,
                    paging: false,
                }
            );

            table2.on( 'draw', function () {
                $('.dataTables_scrollHeadInner').css('padding-right', 0);
                $('.dataTables_scrollBody').css('width', 'calc(100% - 4px)');


                $('.dataTables_filter').addClass('flex items-center');
                $('.dt-buttons').addClass('mr-2');
                $('.dataTables_filter').prepend($('.dt-buttons'));
                $('.dt-bottom-infos-rplc').prepend($('.dataTables_info'));

                $('.dataTables_info').addClass('flex justify-between w-full pr-2');
            } );

            var table3 = $('#state').DataTable(
                {
                    language: {
                        url: 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/French.json'
                    },
                    dom: 'Bfrtip',
                    select: false,
                    buttons: [
                    ],
                    "columnDefs": [
                    ],
                    scrollResize: true,
                    scrollY: 100,
                    scrollCollapse: true,
                    paging: false,
                }
            );



            table3.on( 'draw', function () {
                $('.dataTables_scrollHeadInner').css('padding-right', 0);
                $('.dataTables_scrollBody').css('width', 'calc(100% - 4px)');


                $('.dataTables_filter').addClass('flex items-center');
                $('.dataTables_filter').prepend($('.dt-buttons'));

                $('.dataTables_info').addClass('flex justify-between w-full pr-2');
            } );

            $('.validate').click( function () {
                toValidate = []
                table.rows('.selected').data().map( function (row) {
                    toValidate.push(row[4])
                });

                var form = $('<form action="/validate_references/' + window.location.href.substring(window.location.href.lastIndexOf("/") + 1, window.location.href.length) + '" method="post">' +
                    '{% csrf_token %}' +
                    '<input type="text" name="toValidate" value="' + toValidate + '" />' +
                    '</form>');

                form.appendTo('body').hide()
                form.submit();
            } );

            $('.delete').click( function () {
                toInvalidate = []
                table2.rows('.selected').data().map( function (row) {
                    toInvalidate.push(row[0])
                });

                var form = $('<form action="/invalidate_concepts/' + window.location.href.substring(window.location.href.lastIndexOf("/") + 1, window.location.href.length) + '" method="post">' +
                    '{% csrf_token %}' +
                    '<input type="text" name="toInvalidate" value="' + toInvalidate + '" />' +
                    '</form>');

                form.appendTo('body').hide()
                form.submit();
            } );




        } );

    {% endif %}





</script>

{% include "includes/footer.html" %}