{% include "includes/header.html" with title="Nous contacter" %}
{% load widget_tweaks %}

<div class="h-full w-full flex">

    {% include "includes/menu.html" with title="Nous contacter" %}
    <!--permet à menu.html de repérer la section correspondante et white text-->

    <div class="w-full h-full relative p-3" style="background: #fafbfd;">

        <div class="loading-div z-10 absolute left-0 top-0 bottom-0 right-0" style="background: #fafbfd;">
            <div class="absolute inset-center text-sm flex">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Chargement des données
            </div>
        </div>


        <div class="flex flex-col bg-white rounded h-full relative"
             style="border: 1px solid rgb(211, 218, 230); padding: 6px 8px">

            <!--- Infobulle -->
            <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                <!--- Orange box -->
                <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>

                {% for message in messages %}

                    <p>
                        {{ message }}
                    </p>
                {% empty %}
                    <p>Vous souhaitez proposer une nouvelle fonctionnalité ? Nous signaler un problème? <br/>
                        Contactez nous via ce formulaire! </p>
                {% endfor %}

            </div>
            <!--- fin Infobulle -->

            <!--- début formulaire -->
            <form method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div>
                        <label class="text-sm text-gray-700" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% render_field field class="flex text-sm py-1 px-2 border rounded border-gray-200 focus-none outline-none" %}
                    </div>
                {% endfor %}
                <input class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate outline-none"
                       type="submit" value="Valider">
            </form>

        </div>

    </div>

</div>

<script>

</script>

{% include "includes/footer.html" %}