{% include "includes/header.html" with title="Tableau des dépôts" %}

<div class="h-full w-full flex ">

    {% include "includes/menu.html" with title="Tableau des dépôts" %}

    <div class="w-full h-full p-1 relative" style="background: #fafbfd;">

        <div class="loading-div z-10 absolute left-0 top-0 bottom-0 right-0" style="background: #fafbfd;">
            <div class="absolute inset-center text-sm flex">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Chargement des données
            </div>
        </div>


        <!--<div class="flex w-full">

            <iframe src="/kibana/app/visualize#/edit/13739950-6254-11eb-ac2c-f3a0bab1e132?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter }}')))" height="300" width="33%"></iframe>

            <iframe src="/kibana/app/visualize#/edit/73676ec0-6256-11eb-ac2c-f3a0bab1e132?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter }}')))" height="300" width="34%"></iframe>

            <iframe src="/kibana/app/visualize#/edit/267b1750-6257-11eb-ac2c-f3a0bab1e132?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter }}')))" height="300" width="33%"></iframe>

        </div>

        <div>
            <iframe src="/kibana/app/visualize#/edit/40250720-572f-11eb-8b60-6f9ae6519b78?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter }}')))" height="300" width="33%"></iframe>

        </div>-->
        {% if type == "rsr" %}
        <div class="w-full h-full">
            <!--<iframe src="http://127.0.0.1:5601/app/dashboards#/view/833d6e00-627c-11eb-ac2c-f3a0bab1e132?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&hide-filter-bar=true&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter }}')))" height="100%" width="100%"></iframe>-->
            <!--<iframe src="http://127.0.0.1:5601/app/dashboards#/view/833d6e00-627c-11eb-ac2c-f3a0bab1e132?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&hide-filter-bar=true&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter  }}')))" height="100%" width="100%"></iframe>-->
            <iframe src="/kibana/app/dashboards#/view/e354fad0-b86f-11eb-9dd6-bf6855575886?embed=true&_g=(filters:!((meta:(alias:'{{ key }}',key:{{ ext_key }},params:(query:{{ key }}),type:phrase),query:(match_phrase:({{ ext_key }}:{{ key }}))),(meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),time:({{ timeRange }}))" height="100%" width="100%"></iframe>

        </div>
        {% else %}
            <div class="w-full h-full">
            <!--<iframe src="http://127.0.0.1:5601/app/dashboards#/view/833d6e00-627c-11eb-ac2c-f3a0bab1e132?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&hide-filter-bar=true&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter }}')))" height="100%" width="100%"></iframe>-->
            <!--<iframe src="http://127.0.0.1:5601/app/dashboards#/view/833d6e00-627c-11eb-ac2c-f3a0bab1e132?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&hide-filter-bar=true&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter  }}')))" height="100%" width="100%"></iframe>-->
           <!-- <iframe src="/kibana/app/dashboards#/view/ac288850-bece-11eb-9da8-399e11029bf2?embed=true&_g=(filters:!((meta:(alias:'{{ key }}',key:{{ ext_key }},params:(query:{{ key }}),type:phrase),query:(match_phrase:({{ ext_key }}:{{ key }}))),(meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),time:({{ timeRange }}))" height="100%" width="100%"></iframe>-->
<iframe src="/kibana/app/dashboards#/view/3426d960-c1fd-11eb-9da8-399e11029bf2?embed=true&_g=(filters:!((meta:(alias:'{{ key }}',key:{{ ext_key }},params:(query:{{ key }}),type:phrase),query:(match_phrase:({{ ext_key }}:{{ key }}))),(meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),time:({{ timeRange }}))" height="100%" width="100%"></iframe>
        </div>
        {% endif %}

        <div class="absolute bottom-10 right-10" style="background: #fafbfd;">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
               <a href="/references/?{% if type %}type={{ type }}{% endif %}{% if id %}&id={{  id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&filter=uncomplete"> Mettre à jour mes références</a>
            </button>
        </div>
    </div>

{% include "includes/footer.html" %}