{% include "includes/header.html" with title="Aide" %}

<div class="h-full w-full flex">

    {% include "includes/menu.html" with title="Aide" %}

    <div class="w-full h-full relative p-3" style="background: #fafbfd;">

        <div class="bg-white rounded w-full h-full" style="border: 1px solid rgb(211, 218, 230); padding: 6px 8px">

            <div class="flex items-center">

                <div>
                    <div>1</div>
                    <div>Vérifier les données récoltées</div>
                </div>

                <div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris placerat dui in ornare vehicula. Sed
                    consequat quis nisi vitae pulvinar. Suspendisse potenti. Sed auctor augue ligula, eget lobortis erat
                    pharetra at. Curabitur feugiat pharetra gravida. Proin ornare ex at risus auctor, ac auctor quam
                    dapibus. Aliquam cursus eu nisl quis volutpat. Mauris et ante in eros accumsan tempor. Donec ut
                    magna arcu. Morbi ligula lectus, elementum a sagittis nec, dapibus quis neque. Phasellus vitae
                    aliquam ex. Proin ultrices dictum nulla, bibendum eleifend urna facilisis et. Donec mollis aliquet
                    venenatis.
                </div>
            </div>

            <div>
            </div>

        </div>

    </div>

{% include "includes/footer.html" %}