{% if type == "lab" %}
    {% include "includes/header.html" with title="Index des laboratoires" %}
{%  endif %}
{% if type == "rsr" %}
    {% include "includes/header.html" with title="Index des chercheurs" %}
{%  endif %}

<div class="h-full w-full flex">

    {% if type == "lab" %}
        {% include "includes/menu.html" with title="Index des laboratoires" %}
    {%  endif %}
    {% if type == "rsr" %}
        {% include "includes/menu.html" with title="Index des chercheurs" %}
    {%  endif %}

    <div class="w-full h-full relative p-3" style="background: #fafbfd;">

        <div class="loading-div z-10 absolute left-0 top-0 bottom-0 right-0" style="background: #fafbfd;">
            <div class="absolute inset-center text-sm flex">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                  <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                  <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Chargement des données
            </div>
        </div>


        <div class="bg-white rounded" style="border: 1px solid rgb(211, 218, 230); padding: 6px 8px">

            {% if type == "lab" %}
                <h1 class="font-semibold text-xs">Laboratoires référencés</h1>
            {%  endif %}
            {% if type == "rsr" %}
                <h1 class="font-semibold text-xs">Chercheurs référencés</h1>
            {%  endif %}
            <ul class="pt-2 index-list">
                {% for entity in entities %}
                    <li class="leading-4 w-full bg-gray-50 py-1 px-2">
                        <a class="text-blue-700 text-sm"
                                {% if entity.ldapId %}
                           href="/dashboard/?type=rsr&id={{ entity.ldapId }}"
                                {%  endif %}
                                {% if entity.halStructId %}
                           href="/dashboard/?type=lab&id={{ entity.halStructId }}"
                                {%  endif %}
                        >
                            {% if entity.ldapId %}
                                <span class="">{{ entity.firstName|make_list|first }}. {{ entity.lastName }}</span>
                            {%  endif %}
                            {% if entity.halStructId %}
                                <span class="">{{ entity.acronym }}</span>
                            {%  endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

{% include "includes/footer.html" %}