{% include "includes/header.html" with title="Ressources" %} <!--Titre de la page et définit les options appliquées par menu.html-->
<style>
    /* Tab content - closed */
    .tab-content {
        max-height: 0;
        -webkit-transition: max-height .35s;
        -o-transition: max-height .35s;
        transition: max-height .35s;
    }

    /* :checked - resize to full height */
    .tab input:checked ~ .tab-content {
        max-height: 100vh;
    }

    /* Label formatting when open */
    .tab input:checked + label {
        /*@apply text-xl p-5 border-l-2 border-indigo-500 bg-gray-100 text-indigo*/
        font-size: 1rem; /*.text-base*/
        padding: 1.25rem; /*.p-5*/
        border-left-width: 2px; /*.border-l-2*/
        border-color: #6574cd; /*.border-indigo*/
        background-color: #f8fafc; /*.bg-gray-100 */
        color: #6574cd; /*.text-indigo*/
    }

    /* Icon */
    .tab label::after {
        float: right;
        right: 0;
        top: 0;
        display: block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5;
        font-size: 1rem;
        text-align: center;
        -webkit-transition: all .35s;
        -o-transition: all .35s;
        transition: all .35s;
    }

    /* Icon formatting - closed */
    .tab input[type=checkbox] + label::after {
        content: "+";
        font-weight: bold; /*.font-bold*/
        border-width: 1px; /*.border*/
        border-radius: 9999px; /*.rounded-full */
        border-color: #b8c2cc; /*.border-grey*/
    }

    .tab input[type=radio] + label::after {
        content: "\25BE";
        font-weight: bold; /*.font-bold*/
        border-width: 1px; /*.border*/
        border-radius: 9999px; /*.rounded-full */
        border-color: #b8c2cc; /*.border-grey*/
    }

    /* Icon formatting - open */
    .tab input[type=checkbox]:checked + label::after {
        transform: rotate(315deg);
        background-color: #6574cd; /*.bg-indigo*/
        color: #f8fafc; /*.text-grey-lightest*/
    }

    .tab input[type=radio]:checked + label::after {
        transform: rotateX(180deg);
        background-color: #6574cd; /*.bg-indigo*/
        color: #f8fafc; /*.text-grey-lightest*/
    }
</style>
<div class="h-full w-full flex">

    {% include "includes/menu.html" with title="Ressources" %}
    <!--permet à menu.html de repérer la section correspondante et white text-->

    <div class="w-full h-full relative p-3" style="background: #fafbfd;">
        <!--boutons accordeon -->
        <div class="bg-white rounded w-full h-full">
            <div class="shadow-md">

                <div class="tab w-full overflow-hidden border-t">
                    <input class="absolute opacity-0" id="tab-solo-zero" type="radio" name="tabs2">
                    <label class="block p-5 leading-normal cursor-pointer" for="tab-solo-zero">Formations</label>
                    <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                        <p class="p-5">
                            <a href="https://www.ccsd.cnrs.fr/formations-en-ligne/" target="_blank"
                               style="color:#1478B7">Formations dispensées par le CCSD </a><br>
                            <a href="https://sygefor.reseau-urfist.fr/#/training" target="_blank" style="color:#1478B7">Formations
                                dispensées par l'URFIST </a><br>
                            <a href="https://www.univ-tln.fr/Plan-de-formation-des-personnels.html" target="_blank"
                               style="color:#1478B7">Formations dispensées par l'UTLN </a>
                        </p>

                    </div>
                </div>
                <div class="tab w-full overflow-hidden border-t">
                    <input class="absolute opacity-0 " id="tab-solo-one" type="radio" name="tabs2">
                    <label class="block p-5 leading-normal cursor-pointer" for="tab-solo-one">Ressources
                        internes</label>
                    <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                        <p class="p-5">
                            <a href="https://www.univ-tln.fr/IMG/pdf/point_4_charte_de_signatures_des_publications_universite_de_toulon.pdf"
                               target="_blank" style="color:#1478B7">Chartes de signatures des publications
                                scientifiques UTLN </a><br>
                            <a href="https://hal-univ-tln.archives-ouvertes.fr" target="_blank" style="color:#1478B7">Portail
                                Archives Ouvertes HAL-Toulon </a><br>
                        </p>
                    </div>
                </div>

                <div class="tab w-full overflow-hidden border-t">
                    <input class="absolute opacity-0" id="tab-solo-two" type="radio" name="tabs2">
                    <label class="block p-5 leading-normal cursor-pointer" for="tab-solo-two">Ressources
                        externes </label>
                    <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                        <p class="p-5">
                            <a href="https://data.archives-ouvertes.fr/" target="_blank"
                               style="color:#1478B7">Accès aux métadonnées de HAL </a><br>
                            <a href="https://doc.archives-ouvertes.fr/administrer-un-portail/" target="_blank"
                               style="color:#1478B7">Administrer un portail sur HAL </a><br>
                            <a href="https://doc.archives-ouvertes.fr/compte-et-profil/" target="_blank"
                               style="color:#1478B7">Créer un compte & un profil HAL </a><br>
                            <a href="https://orcid.org/signin" target="_blank"
                               style="color:#1478B7">Créer son identifiant ORCID (ENG)</a><br>
                            <a href="http://www.researcherid.com/#rid-for-researchers" target="_blank"
                               style="color:#1478B7">Créer son ResearcherID (ENG)</a><br>
                            <a href="https://api.archives-ouvertes.fr/docs" target="_blank"
                               style="color:#1478B7">Documentation API-HAL </a><br>
                            <a href="https://retorque.re/zotero-better-bibtex/installation/" target="_blank"
                               style="color:#1478B7">Exporter un fichier BibTeX avec Zotero (ENG) </a><br>
                            <a href="https://doc.archives-ouvertes.fr/x2hal/" target="_blank"
                               style="color:#1478B7">Import par lot dans HAL à partir d'un fichier BibTeX</a><br>
                            <a href="https://doc.archives-ouvertes.fr/deposer/" target="_blank" style="color:#1478B7">Informations
                                sur le dépot dans HAL </a><br>
                            <a href="https://aurehal.archives-ouvertes.fr" target="_blank"
                               style="color:#1478B7">Liste des référentiels disponibles et utilisés dans HAL</a><br>
                            <a href="https://doc.archives-ouvertes.fr/statistiques/" target="_blank"
                               style="color:#1478B7"> Mes statistiques dans HAL</a><br>
                            <a href="https://doc.archives-ouvertes.fr/questions-juridiques/" target="_blank"
                               style="color:#1478B7">Questions juridiques</a><br>
                            <a href="https://doc.archives-ouvertes.fr/rechercher-simple-avancee/" target="_blank"
                               style="color:#1478B7">Rechercher dans HAL et exploiter ses résultats </a><br>
                            <a href="https://doc.archives-ouvertes.fr/tutoriels-video/" target="_blank"
                               style="color:#1478B7">Tutoriels vidéos HAL</a><br>

                        </p>
                    </div>
                </div>

                <div class="tab w-full overflow-hidden border-t">
                    <input class="absolute opacity-0" id="tab-solo-three" type="radio" name="tabs2">
                    <label class="block p-5 leading-normal cursor-pointer" for="tab-solo-three">Engagements officiels</label>
                    <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                        <p class="p-5">
                            <a href="https://osec2022.eu/fr/appel-de-paris/" target="_blank" style="color:#1478B7">Appel de
                                Paris (2022) : réforme du système actuel d’évaluation de la recherche...</a><br>
                            <a href="https://conferencedesdoyensdemedecine.org/appel-de-la-sorbonne-2021/" target="_blank" style="color:#1478B7">Appel de
                                la Sorbonne (2021) : "Europe de la Santé"</a><br>
                            <a href="http://cache.media.enseignementsup-recherche.gouv.fr/file/Actus/67/2/PLAN_NATIONAL_SCIENCE_OUVERTE_978672.pdf"
                               target="_blank" style="color:#1478B7">Plan National pour la Science Ouverte</a><br>
                            <a href="https://www.helsinki-initiative.org/fr/signatories" target="_blank"
                               style="color:#1478B7">Initiative d'Helsinki (multilinguisme, 2019)</a><br>
                            <a href="https://jussieucall.org/#signOn" target="_blank" style="color:#1478B7">Appel de Jussieu (2017)</a><br>
                            <a href="https://www.leru.org/christmas-is-over-research-funding-should-go-to-research-not-to-publishers"
                               target="_blank" style="color:#1478B7">Déclaration de la LERU (<it>League of European Research Universities</it>, 2015)</a><br>
                            <a href="https://sfdora.org/signers/" target="_blank" style="color:#1478B7">Déclaration de
                                San Francisco (<it>Declaration on Research Assessment</it>, DORA, 2013)</a><br>
                            <a href="https://www.capetowndeclaration.org/sign-the-declaration" target="_blank"
                               style="color:#1478B7">Déclaration de Cape Town (éducation ouverte, 2007)</a><br>
                            <a href="https://www.budapestopenaccessinitiative.org/sign" target="_blank"
                               style="color:#1478B7">Déclaration de Budapest, UNESCO (2002)</a><br>
                            <a href="https://www.openrecognition.org/declaration-de-bologne-pour-une-reconnaissance-ouverte/?lang=fr/"
                               target="_blank" style="color:#1478B7">Déclaration de Bologne (1999)</a><br>



                        </p>
                    </div>
                </div>
                <div class="tab w-full overflow-hidden border-t">
                    <input class="absolute opacity-0" id="tab-solo-four" type="radio" name="tabs2">
                    <label class="block p-5 leading-normal cursor-pointer" for="tab-solo-four">Textes connexes</label>
                    <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                        <p class="p-5">

                            <a href="http://tcp.hypotheses.org/318" target="_blank" style="color:#1478B7">Humanités
                                numériques</a><br>
                            <a href="https://www.legifrance.gouv.fr/jo_pdf.do?id=JORFTEXT000028890784" target="_blank"
                               style="color:#1478B7">Open Data</a><br>

                            <a href="https://eur-lex.europa.eu/legal-content/FR/TXT/HTML/?uri=CELEX:32016R0679R(02)&amp;qid=1528814703534&amp;from=en"
                               target="_blank" style="color:#1478B7">RGPD</a><br>
                        </p>
                    </div>
                </div>
 <div class="tab w-full overflow-hidden border-t">
                    <input class="absolute opacity-0" id="tab-solo-five" type="radio" name="tabs2">
                    <label class="block p-5 leading-normal cursor-pointer" for="tab-solo-five">Aspects juridiques</label>
                    <div class="tab-content overflow-hidden border-l-2 bg-gray-100 border-indigo-500 leading-normal">
                        <p class="p-5">

                            <a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?idArticle=LEGIARTI000006278879&amp;cidTexte=LEGITEXT000006069414"
                               target="_blank" style="color:#1478B7">La propriété intellectuelle des bases de données</a><br>
                            {% comment %}<a href="https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000006071191&amp;idArticle=LEGIARTI000006525617"
                               target="_blank" style="color:#1478B7">La liberté académique (Code de l'éducation)</a><br>
                            <a href="https://www.legifrance.gouv.fr/affichCode.do?cidTexte=LEGITEXT000031366350"
                               target="_blank" style="color:#1478B7">Code des relations entre le public et
                                l’administration</a><br>
                            <a href="https://www.legifrance.gouv.fr/" target="_blank" style="color:#1478B7">Code de la
                                propriété intellectuelle</a><br>{% endcomment %}



                            <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000033202746&amp;dateTexte=20170411"
                               target="_blank" style="color:#1478B7">Loi pour une République Numérique (2016)</a><br>
                            <a href="http://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000886460"
                               target="_blank" style="color:#1478B7">Données personnelles, données sensibles</a><br>
                            <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000031701525&amp;dateTexte=20170411"
                               target="_blank" style="color:#1478B7">Loi sur la gratuité et aux modalités de la
                                réutilisation des informations du secteur public</a><br>
                            <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000266350"
                               target="_blank" style="color:#1478B7">Loi sur le droit d'auteur et les droits voisins
                                dans la société de l'information</a><br>
                            <a href="https://www.legifrance.gouv.fr/affichTexte.do?cidTexte=JORFTEXT000000339241"
                               target="_blank" style="color:#1478B7">Loi sur les mesures d'amélioration des relations
                                entre l'administration et le public et diverses dispositions d'ordre administratif,
                                social et fiscal</a><br>

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    /*Javascript to close the radio button version by clicking it again */
    var myRadios = document.getElementsByName('tabs2');
    var setCheck;
    var x = 0;
    for (x = 0; x < myRadios.length; x++) {
        myRadios[x].onclick = function () {
            if (setCheck != this) {
                setCheck = this;
            } else {
                this.checked = false;
                setCheck = null;
            }
        };
    }
</script>

{% include "includes/footer.html" %}
