{% include "includes/header.html" with title="Recherche" %}
{% load widget_tweaks %}

<div class="h-full w-full flex items-start">

    {% include "includes/menu.html" with title="Recherche" %}

    <div class="w-full h-full relative p-3" style="background: #fafbfd;">

        <div class="loading-div z-10 absolute left-0 top-0 bottom-0 right-0" style="background: #fafbfd;">
            <div class="absolute inset-center text-sm flex">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Chargement des données
            </div>
        </div>

        <div class="flex flex-col bg-white rounded h-full relative w-full" style="border: 1px solid rgb(211, 218, 230); padding: 6px 8px">



            <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                <!--- Orange box -->
                <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                     viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                </svg>

                {% for message in messages %}

                    <p>
                        {{ message }}
                    </p>
                {% empty %}
                    <p>Cet outil permet d'interroger la base de données collectées et enrichie et est à destination d'un public expert. </p>
                {% endfor %}

            </div>

            <form action="/search/" method="post">
                {% csrf_token %}
                {% for field in form.visible_fields %}
                    <div>
                        <label class="text-sm text-gray-700" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {% render_field field class="flex text-sm py-1 px-2 border rounded border-gray-200 focus-none outline-none" value="" %}
                    </div>
                {% endfor %}
                <input class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate outline-none" type="submit" value="Valider">
            </form>

            {% if results %}
                <div>



                    <div class="grid grid-cols-2 rounded mt-2" style="background: #fafbfd;">
                        <div class="px-2 flex h-full flex-col">
                            <h3 class="text-xs font-semibold my-2">Résultats ({{ count }} correspondances)</h3>
                            {% if results.0.docid %}
                                <div class="flex-1">
                                    <table id="references" class="">
                                        <thead>
                                        <th>URL</th>
                                        <th>Année</th>
                                        <th>Titre</th>
                                        </thead>
                                        <tbody>
                                        {% for res in results %}
                                            <tr>
                                                <td class="whitespace-nowrap">{{ res.halId_s }}</td>
                                                <td>{{ res.publicationDate_tdate|slice:":4" }}</td>
                                                <td>{{ res.title_s.0 | safe }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {%  endif %}
                            {% if results.0.ldapId %}
                                <div class="flex-1">
                                    <table id="references" class="">
                                        <thead>
                                        <th>URL</th>
                                        <th>Nom</th>
                                        </thead>
                                        <tbody>
                                        {% for res in results %}
                                            <tr>
                                                <td class="whitespace-nowrap">{{ res.halId_s }}</td>
                                                <td>{{ res.firstName }} {{ res.lastName }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {%  endif %}
                            {% if results.0.rsnr %}
                                <div class="flex-1">
                                    <table id="references" class="">
                                        <thead>
                                        <th>URL</th>
                                        <th>Acronyme</th>
                                        <th>Laboratoire</th>
                                        </thead>
                                        <tbody>
                                        {% for res in results %}
                                            <tr>
                                                <td class="whitespace-nowrap">{{ res.halStructId }}</td>
                                                <td>{{ res.acronym }}</td>
                                                <td>{{ res.label }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            {%  endif %}
                        </div>

                        <div class="px-2">
                            {% if results.0.docid %}

                                <h3 class="text-xs font-semibold my-2">Mots-clés associés</h3> <!--4ec4e950-8716-11eb-b61e-8702cc892037--->
                                <iframe src="/kibana/app/visualize#/edit/4ec4e950-8716-11eb-b61e-8702cc892037?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&hide-filter-bar=true&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter  }}')))" height="600" width="800"></iframe>
                            {%  endif %}
                            {% if results.0.ldapId %}
                                <h3 class="text-xs font-semibold my-2">Mots-clés associés</h3> <!--2e53bf70-568d-11eb-af7f-91fed5e816d9 -->
                                <!--if local use : http://127.0.0.1:5601/app    else /kibana/app -->
                                <iframe src="http://127.0.0.1:5601/app/visualize#/edit/4ec4e950-8716-11eb-b61e-8702cc892037?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&hide-filter-bar=true&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter  }}')))" height="600" width="800"></iframe>

                            {%  endif %}
                            {% if results.0.rsnr %}
                                <iframe src="/kibana/app/visualize#/edit/4ec4e950-8716-11eb-b61e-8702cc892037?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&hide-filter-bar=true&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filter  }}')))" height="600" width="800"></iframe>
                            {%  endif %}
                        </div>
                    </div>

                </div>


            {% endif %}

        </div>

    </div>

</div>

<script>

    {% if results.0.docid %}
        cols = [
                {
                    "targets": [ 0 ],
                    "render": function(data, type, row, meta){
                        if(type === 'display'){
                            data = '<a class="underline text-blue-700" target="_blank" href="https://hal.archives-ouvertes.fr/' + data + '">' + data + '</a>';
                        }
                        return data;
                    },
                    "className": "text-center",
                    "orderable": false
                }
            ]
    {%  endif %}
    {% if results.0.ldapId %}
        cols = [
            {
                    "targets": [ 0 ],
                    "render": function(data, type, row, meta){
                        if(type === 'display'){
                            data = '<a class="underline text-blue-700" target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?q=%2A&authIdHal_s=' + data + '">' + data + '</a>';
                        }
                        return data;
                    },
                    "className": "text-center",
                    "orderable": false
                }
            ]
    {%  endif %}
    {% if results.0.rsnr %}
        cols = [
            {
                    "targets": [ 0 ],
                    "render": function(data, type, row, meta){
                        if(type === 'display'){
                            data = '<a class="underline text-blue-700" target="_blank" href="https://hal.archives-ouvertes.fr/search/index/?q=%2A&labStructId_i=' + data + '">' + data + '</a>';
                        }
                        return data;
                    },
                    "className": "text-center",
                    "orderable": false
                }
            ]    {%  endif %}

    var table = $('#references').DataTable(
        {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/French.json'
            },
            dom: 'Bfrtip',
            select: false,
            columnDefs: cols,
            scrollResize: true,
            scrollY: 100,
            scrollCollapse: true,
            paging: false,
            searching: false,
            info: false,
            buttons: []
        }
    );
    table.buttons( '.export' ).remove();

</script>

{% include "includes/footer.html" %}