{% include "includes/header.html" with title="Outils" %}
{% load widget_tweaks %}

<div class="h-full w-full flex ">

    {% include "includes/menu.html" with title="Outils" %}

    <div class="w-full h-full relative p-3" style="background: #fafbfd;">

        <div class="loading-div z-10 absolute left-0 top-0 bottom-0 right-0" style="background: #fafbfd;">
            <div class="absolute inset-center text-sm flex">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Chargement des données
            </div>
        </div>

        <div class="flex flex-col bg-white rounded h-full relative" style="border: 1px solid rgb(211, 218, 230); padding: 6px 8px">

            <div class="flex justify-between items-start">

                <h1 class="font-semibold text-xs mb-2 border-b border-gray-300 w-full pb-1">
                    {% if entity.halStructId %}
                        <a class="px-2 pb-1
                        {% if data == "hceres" %}text-blue-600 border-b-2 border-blue-400 {% else %} text-gray-600 {% endif %}"
                           href="/tools/?{% if type %}type={{ type }}{% endif %}{% if id %}&id={{  id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&data=hceres"
                        >Export HCERES</a>
                    {% endif %}
                </h1>

            </div>

            {% if data == "hceres" %}
                <div>

                    <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                        <!--- Orange box -->
                        <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>

                        <p>Vous pouvez générer un fichier Excel contenant la liste des publications présentes sur HAL, par type de publication, en cliquant sur le bouton ci-dessous.</p>

                    </div>

                    <div class="flew w-full" style="height: 58%">

                        <h3 class="text-xs font-semibold text-gray-600 mb-1">Sélection des chercheurs à inclure dans l'export</h3>
                        <hr>

                        <table id="state">

                            <thead>
                            <tr class="bg-gray-100 text-gray-700 text-xs">
                                <th>Sélection</th>
                                <th class="hidden">ID</th>
                                <th>ID HAL</th>
                                <th>Nom</th>
                                <th>Axe</th>
                                <th>Fonction</th>
                                <th>Dates</th>
                            </tr>
                            </thead>

                            <tbody>

                            {% for rsr in researchers %}
                                <tr class="text-gray-500">
                                    <td><input type="checkbox" id="sel" name="sel" value="sel"></td>
                                    <td class="hidden ldapId">{{ rsr.ldapId }}</td>
                                    <td class="halId_s">{{ rsr.halId_s }}</td>
                                    <td>{{ rsr.firstName }} {{ rsr.lastName }}</td>
                                    <td class="axis">{{ rsr.axis }}</td>
                                    <td>
                                        <select class="border border-gray-300 axis func" name="function" id="function">
                                            <option value="chercheur">Enseignant/chercheur</option>
                                            <option value="doctorant">Doctorant</option>
                                        </select>
                                    </td>
                                    <td><input type="text" id="dates" name="dates" class="border border-gray-300 axis scope" value="2016-2020"></td>
                                </tr>
                            {% endfor %}

                            </tbody>

                        </table>

                    </div>

                    <div class="mt-10">
                        <h3 class="text-xs font-semibold text-gray-600 mb-1">Ajouter des chercheurs (optionnel)</h3>
                        <hr>

                        <div class="my-3 mt-1 flex w-full bg-blue-100 border border-blue-300 rounded text-xs p-4 items-center text-blue-900">
                            <!--- Orange box -->
                            <svg class="w-4 h-4 text-blue-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>

                            <p>Pour chaque chercheur ajouté, suivez le modèle suivant :
                                <span class="bg-gray-100 py-1 px-2 rounded border border-gray-300 text-xs">id_hal;axe;fonction;date</span>.
                                Par exemple,
                                <span class="bg-gray-100 py-1 px-2 rounded border border-gray-300 text-xs">jean_dupont;axe1;doctorant;2016-2017</span> ou encore
                                <span class="bg-gray-100 py-1 px-2 rounded border border-gray-300 text-xs">jean_dupont;axe1;chercheur;2018-2020</span>. Sautez une ligne entre chaque chercheur ajouté.</p>

                        </div>

                        <textarea id="additional" name="additional" class="flex text-sm border border-gray-300 axis w-full focus:outline-none resize-none" rows="4" placeholder="id_hal;axe;fonction;date
id_hal;axe;fonction;date
..."></textarea>
                    </div>

                    <form action="/export_hceres_xls/?type={{ type }}&id={{ id }}&data={{ data }}" method="post">
                        {% csrf_token %}
                        <input id="toProcess" name="toProcess" class="hidden"></input>
                        <textarea id="toProcess_extra" name="toProcess_extra" class="hidden"></textarea>
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div>
                                <label class="text-sm text-gray-700" for="{{ field.auto_id }}">{{ field.label }}</label>
                                {% render_field field class="flex text-sm py-1 px-2 border rounded border-gray-200 focus-none outline-none" %}
                            </div>
                        {% endfor %}
                        <input class="text-xs font-semibold py-1 px-2 rounded bg-blue-600 my-2 text-white cursor-pointer validate outline-none" type="submit" value="Exporter (format Excel)">
                    </form>

                </div>
            {% endif %}

        </div>

    </div>
</div>

<script>

    var table3 = $('#state').DataTable(
        {
            language: {
                url: 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/French.json'
            },
            dom: 'Bfrtip',
            select: false,
            buttons: [],
            "columnDefs": [
                {
                    "targets": [0],
                    "className": "text-center",
                },
                {
                    "targets": [4],
                    "className": "text-center",
                },
                {
                    "targets": [5],
                    "className": "text-center",
                },
                {
                    "targets": [6],
                    "className": "text-center",
                }
            ],
            scrollResize: true,
            scrollY: 100,
            scrollCollapse: true,
            paging: false,
        }
    );


    table3.on('draw', function () {
        $('.dataTables_scrollHeadInner').css('padding-right', 0);
        $('.dataTables_scrollBody').css('width', 'calc(100% - 4px)');

        $('.dt-bottom-infos-rplc').prepend($('.dataTables_info'));
        $('.dataTables_filter').addClass('flex items-center');
        $('.dataTables_filter').prepend($('.dt-buttons'));

        $('.dataTables_info').addClass('flex justify-between w-full pr-2');
    });

    function contains(arr, key, val) {
        for (var i = 0; i < arr.length; i++) {
            if (arr[i][key] === val) return true;
        }
        return false;
    }

    toProcess = []

    const elements = document.querySelectorAll('input#sel');
    Array.from(elements).forEach((element, index) => {

        element.onchange = (event) => {
            if (element.checked) {
                val = true;
            } else {
                val = false; // define a value
            }
            let halId = parentNode = element.parentNode.parentNode.querySelector(".halId_s").textContent;
            let func = element.parentNode.parentNode.querySelector(".func").value;
            let scope = element.parentNode.parentNode.querySelector(".scope").value;
            let axis = element.parentNode.parentNode.querySelector(".axis").textContent;

            if (!(contains(toProcess, "halId", halId))) {
                toProcess.push({"halId": halId, "function": func, "scope": scope, "axis": axis});
            } else {
                if (!(val)) {
                    for (let [i, rsr] of toProcess.entries()) {
                        if (rsr.halId == halId) {
                            toProcess.splice(i, 1);
                        }
                    }
                }
            }

            document.querySelector("#toProcess").value = JSON.stringify(toProcess);
        }


    });

    const elements2 = document.querySelectorAll('select#function');
    Array.from(elements2).forEach((element, index) => {

        element.onchange = (event) => {
            let halId = parentNode = element.parentNode.parentNode.querySelector(".halId_s").textContent;
            let val = event.target.value;
            for (let [i, rsr] of toProcess.entries()) {
                        if (rsr.halId == halId) {
                            rsr.function = val;
                        }
                    }

            document.querySelector("#toProcess").value = JSON.stringify(toProcess);
        }
    });

    const elements3 = document.querySelectorAll('input#dates');
    Array.from(elements3).forEach((element, index) => {

        element.onchange = (event) => {
            let halId = parentNode = element.parentNode.parentNode.querySelector(".halId_s").textContent;
            let val = event.target.value;
            for (let [i, rsr] of toProcess.entries()) {
                        if (rsr.halId == halId) {
                            rsr.scope = val;
                        }
                    }

            document.querySelector("#toProcess").value = JSON.stringify(toProcess);
        }
    });

    const textArea = document.getElementById('additional');
    textArea.addEventListener('input', () => {
        document.querySelector("#toProcess_extra").value = textArea.value;
    })

</script>

{% include "includes/footer.html" %}