{% include "includes/header.html" with title="Nuage de Mots" %}

<div class="h-full w-full flex ">

    {% include "includes/menu.html" with title="Nuage de Mots" %}

    <div class="w-full h-full p-1 relative" style="background: #fafbfd;">

        <div class="loading-div z-10 absolute left-0 top-0 bottom-0 right-0" style="background: #fafbfd;">
            <div class="absolute inset-center text-sm flex">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Chargement des données
            </div>
        </div>

        <!-- Si version dev changer   src="/kibana/app/dashboards#  en   src="http://127.0.0.1:5601/app/dashboards#  -->

        {% if type == "lab" %}
        <div class="w-full h-full">
            <iframe src="{{ url }}/app/dashboards#/view/e2e130a0-d051-11ec-9593-851110e50703?embed=true&_g=(filters:!((meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filterLab }}')))" height="100%" width="100%"></iframe>
        </div>
        {%  else %}
                    <div class="w-full h-full">
            <iframe src="{{ url }}/app/dashboards#/view/84aeeba0-bf7f-11eb-9da8-399e11029bf2?embed=true&_g=(filters:!((meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filterRsr }}')))" height="100%" width="100%"></iframe>
        </div>
        {%  endif %}

    </div>
</div>
{% include "includes/footer.html" %}
