{% include "includes/header.html" with title="Explorations lexicales" %}

<div class="w-full flex" style="height:calc(100% - 48px)">

    {% include "includes/menu.html" with title="Nuage de Mots" %}

    <div class="w-full  p-3 relative" style="background: #fafbfd;">

        <div class="loading-div z-10 absolute left-0 top-0 bottom-0 right-0" style="background: #fafbfd;">
            <div class="absolute inset-center text-sm flex">
                <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-gray-600" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 24 24">
                    <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                    <path class="opacity-75" fill="currentColor"
                          d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                </svg>
                Chargement des données
            </div>
        </div>

        <div class="flex flex-col bg-white rounded h-full relative w-full" style="border: 1px solid rgb(211, 218, 230); padding: 6px 8px">
            <div class="flex justify-between items-start">
                <div class="font-semibold text-xs mb-2 border-b border-gray-300 w-full pb-1 pt-2">
                        {% for language in lang_options %}
                           <a class="px-2 pb-1 text-gray-600 {% if lang == language %}text-blue-600 border-b-2 border-blue-400{% else %} text-gray-600 {% endif %}"
                              href="/wordcloud/?struct={{ struct }}&type={{ type }}&id={{ id }}&lang={{ language }}">
                               {{ language }}</a> {% endfor %}
                </div>
            </div>

            {% if lang == "ALL" %}
                <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                        <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>

                        <p>Ci dessous le lexique et sa distribution temporelle extraits des mots-clés auteur issus des productions validées associées à votre profil. Le bouton de filtrage permet de pointer spécifiquement des éventuelles erreurs ou des manques.</p>

                    </div>
                {% if type == "lab" %}
                    <div class="w-full h-full">
                        <iframe src="{{ url }}/app/dashboards#/view/e2e130a0-d051-11ec-9593-851110e50703?embed=true&_g=(filters:!((meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(viewMode:edit,query:(query_string:(analyze_wildcard:!t,query:'{{ filterLab }}')))" height="100%" width="100%" id="dashkib"></iframe>
                    </div>
                {%  else %}
                    <div class="w-full h-full">
                        <iframe src="{{ url }}/app/dashboards#/view/8c338430-fc37-11ec-8b3e-b123ba76fd27?embed=true&_g=(filters:!((meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filterRsr }}')),viewMode:edit,fullScreenMode:!f,options:(hidePanelTitles:!t,syncColors:!t,useMargins:!f))" height="100%" width="100%" id="dashkib"></iframe>
                    </div>
                {%  endif %}

            {% elif lang == "FR" %}

                {% if type == "lab" %}
                    <div class="w-full h-full">
                        <iframe src="{{ url }}/app/dashboards#/view/db8a8f80-fc35-11ec-8b3e-b123ba76fd27?embed=true&_g=(filters:!((meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filterLab }}')))" height="100%" width="100%" id="dashkib"></iframe>
                    </div>

                {%  else %}
                <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                        <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>

                        <p>Ci dessous le lexique des notices marquées en langue française. Les mots auteurs, les entités nommées et les termes saillants extraits des résumés.
                            Les manquants sont soulignés, un clic sur un terme met à jour la liste des notices avec le lien pour éventuellement modifier les données sur Hal (veillez à être connecté(e)).
                         Une fois les données modifiées sur Hal il suffit de <a href="/force-update_references/?struct={{ struct }}{% if type %}&type={{ type }}{% endif %}{% if id %}&id={{ id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&filter=all&validation={{ validation }}">cliquer ici pour rafraîchir les références</a>.
                    </div>

                    <div class="w-full h-full">
                    <iframe Sec-Fetch-Dest="iframe" src="{{ url }}/app/dashboards#/view/934e9630-fc35-11ec-8b3e-b123ba76fd27?embed=true&_g=(filters%3A!((meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),refreshInterval:(pause:!t,value:0),time:({{ timeRange}}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filterRsr }}')),viewMode:edit)" height="100%" width="100%" id="dashkib">

                    </iframe></div>
                {%  endif %}
            {% elif lang == "EN" %}
                            <div class="my-3 mt-1 flex w-full bg-yellow-100 border border-yellow-300 rounded text-xs p-4 items-center text-yellow-800">
                        <svg class="w-4 h-4 text-yellow-800 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                             viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
                        </svg>

                        <p>Ci dessous le lexique des notices marquées en langue anglaise. Les mots auteurs, les entités nommées et les termes saillants extraits des résumés.
                            Les manquants sont soulignés, un clic sur un terme met à jour la liste des notices avec le lien pour éventuellement modifier les données sur Hal (veillez à être connecté(e)).
                                Une fois les données modifiées sur Hal il suffit de <a href="/force-update_references/?struct={{ struct }}{% if type %}&type={{ type }}{% endif %}{% if id %}&id={{ id }}{% endif %}{% if from %}&from={{ from }}{% endif %}{% if to %}&to={{ to }}{% endif %}&filter=all&validation={{ validation }}">cliquer ici pour rafraîchir les références</a>.
                    </div>
                {% if type == "lab" %}
                    <div class="w-full h-full">
                        <iframe src="{{ url }}/app/dashboards#/view/c0feaf00-fc37-11ec-8b3e-b123ba76fd27?embed=true&_g=(filters:!(
                        (meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),
                        refreshInterval:(pause:!t,value:0),time:({{ timeRange }}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filterLab }}')))&show-top-menu=false&show-query-input=true&show-time-filter=true" height="100%" width="100%" id="dashkib">

                        </iframe>
                    </div>
                {%  else %}
                      <div class="w-full h-full">
                      <iframe Sec-Fetch-Dest="iframe" src="{{ url }}/app/dashboards#/view/1d2e4d50-fc36-11ec-8b3e-b123ba76fd27?embed=true&_g=(filters%3A!((meta:(alias:'validés',key:validated,params:(query:!t),type:phrase),query:(match_phrase:(validated:!t)))),refreshInterval:(pause:!t,value:0),time:({{ timeRange}}))&_a=(query:(query_string:(analyze_wildcard:!t,query:'{{ filterRsr }}')),viewMode:edit)" height="100%" width="100%" id="dashkib">

                    </iframe></div>
                {%  endif %}
            {%  endif %}
        </div>
    </div>
</div>
{% include "includes/footer.html" %}