#kbnPresentationToolbar__solutionToolbar{
    display:none;
}

.kbnTopNavMenu__wrapper {
    display:none;
}

html body.coreSystemRootDomElement.kbnBody.kbnBody--noHeaderBanner.kbnBody--chromeHidden.kbnVersion-8-3-2 div#kibana-body div.kbnAppWrapper.kbnAppWrapper--hiddenChrome div.kbnAppWrapper span.kbnTopNavMenu__wrapper
{
    display:none;
}
